* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Lucida Console", Courier, monospace;
}

header {
  width: 100%;
  background-color: #62c293;
  padding: .75em .5em;
}

h1 {
  margin: .5em 0;
  font-size: 3em;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 .comment {
  font-size: .5em;
  font-weight: normal;
  color: #424f5e;
  display: none;
}

.personal-info {
  width: 100%;
  text-align: center;
}

.personal-info .text {
  font-family: "Lucida Console", Courier, monospace;
  font-size: .5em;
  display: none;
}

.personal-info a {
  text-decoration: none;
}

.personal-info i:hover {
  color: #ed5b65;
}

.email,
.phone-number,
.location {
  display: inline;
  margin-right: 20px;
}

.personal-info .icon-envelope-alt,
.personal-info .icon-phone,
.personal-info .icon-map-marker {
  color: white;
  font-size: 1.5em;
}

.experience,
.skills,
.more-info {
  width: 100%;
  padding: 30px;
}

.skills {
  margin-top: -30px; /*super hack*/
}

.more-info {
  margin-top: -30px; /*to line up with stocktwits */
}

.experience .icon-briefcase,
.skills .icon-bolt ,
.more-info .icon-coffee{
  color: #424f5e;
  font-size: 3em;
}

.experience .text,
.skills .text,
.more-info .text {
  display: inline-block;
  vertical-align: middle;
  font-family: "Lucida Console", Courier, monospace;
  font-size: .75em;
}

.experience .job-title {
  font-size: 1.5em;
  padding: 20px 0 0 20px;
}

.experience li,
.more-info li {
  padding-left: 1.7em;
  list-style: none;
  line-height: 20px
}

.experience li:before,
.more-info li:before {
  content: "\f004";
  color: #62c293;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.7em; /*same as padding-left set on li*/
  width: 1.2em;
}

.more-info a,
.more-info a:visited {
  text-decoration: none;
  color: #ed5b65;
}

.experience ul .bullets {
  font-family: "Lucida Console", Courier, monospace;
  color: black;
  font-size: .75em;
}

.skills .box {
  float: left;
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #ecf0f1;
}

.skills .box:hover {
  background-color: #7f8c8d;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@media (min-width: 38em) {
  h1 .comment {
    display: inline;
  }

  .personal-info .text {
    display: inline;
  }
}

@media (min-width: 57em) {
  .experience,
  .skills,
  .more-info {
    float: left;
    width: 50%;
    height: 100%;
    padding: 30px;
    margin-top: 0;
  }
}
